.FooterIcon{
  text-align: center;
  margin-top: 0.8rem!important;
}
.cs_footer_icon_item {
  width: 4rem;
  height: 4rem;
  background: rgb(107, 107, 107);
  border-radius: 50%;
  line-height: 3.8rem;
  display: inline-block;
  margin: 0 2rem!important;
}
.cs_footer_icon_item:hover {
  cursor: pointer;
  background: rgb(199, 199, 199);
}
.cs_footer_icon_item img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

@media (max-width: 992px){
  .cs_footer_icon_item{
    margin-top:0.5rem!important;
  }
}
