.Jumbotron {
  height: 50%;
  padding: 6rem!important;
  background: rgba(255, 255, 255, 0.2) !important;
  user-select: none;
  margin-top: 10rem!important;
}
.jumbotron_title {
  color: white;
  font-weight: bold;
}
.jumbotron_content {
  color: white;
}
.jumbtron_btn {
  margin-top: 3rem;
  text-align: right;
}
