.Tellurion{
  height: 100%;
  background-image: url("../../../../assets/images/background/home_bg.jpg");
  background-position: center;
  position: absolute;
  top: 10rem;
}
/* .tellurion_bg {
  height: 100%;
  background-image: url("../../../../assets/images/background/home_bg.jpg");
  background-position: center;
  overflow: hidden;
} */
