.SideBar {
  padding: 0 !important;
  background: var(--primary-black);
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

@media screen and (max-width: 767px) {
  h5 {
    font-size: 1rem !important;
  }
}

.cs_sidebar_item {
  height: 6rem;
  margin-right: 2rem;
  transition-duration: 0.5s;
  border-bottom: 1px solid var(--primary-gray);
  border-right: 1px solid var(--primary-gray);
}

.cs_sidebar_item:hover {
  color: white;
}

.cs_sidebar_item_selected {
  color: white;
}

.cs_sidebar_link {
  background-color: var(--primary-black);
  color: var(--primary-gray);
}

.cs_sidebar_link:hover {
  text-decoration: none;
  color: var(--primary-gray);
}
